@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$sans-serif-font: 'Open Sans', sans-serif;

$font-size-default: 14px;
$font-size-small: 12px;
$font-size-medium: 13px;
$font-size-large: 16px;

$font-color-primary: #000;
$font-color-secondary: #9A9A9A;
