$brand-color: #1C688E;
$pill-color: #2897C5;

$background-image-path: '../../assets/graphics/background.png';
$background-image-path-2X: '../../assets/graphics/background_@2X.png';

$star-back-image-path: '../../assets/graphics/stars-icons.png';
$star-partial-25-image-path: '../../assets/graphics/stars-icons-partial-25.png';
$star-partial-50-image-path: '../../assets/graphics/stars-icons-partial-50.png';
$star-partial-75-image-path: '../../assets/graphics/stars-icons-partial-75.png';