@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
/* line 9, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
body {
  background: #fff url("../../assets/graphics/background.png") repeat right top;
  height: 100%; }
  /* line 13, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  body main {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    position: relative; }
  /* line 19, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  body p {
    font-size: 14px; }
  /* line 24, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  body ul li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  /* line 31, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  body .small {
    font-size: 12px; }
  /* line 35, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  body .hidden {
    display: none; }

/* line 44, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
.search-container {
  background-color: #fff;
  height: 100%;
  margin: 0 auto;
  max-width: 820px;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px; }
  /* line 52, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  .search-container .search-bar {
    background-color: #1C688E;
    height: 84px;
    margin-left: 0;
    margin-right: 0;
    padding: 22px; }
    /* line 59, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
    .search-container .search-bar input {
      padding: 20px; }
  /* line 64, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  .search-container section.results {
    margin-left: 0;
    margin-right: 0; }
    /* line 68, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
    .search-container section.results .search-facets {
      padding: 10px 20px; }
      /* line 71, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .search-facets a {
        color: #000;
        display: table;
        text-decoration: none;
        width: 100%; }
        /* line 77, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .search-facets a span {
          float: right;
          color: #9A9A9A;
          margin-left: 4px; }
        /* line 83, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .search-facets a:hover, .search-container section.results .search-facets a:focus {
          color: white;
          text-decoration: none; }
      /* line 90, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .search-facets ul {
        font-size: 13px;
        padding: 0 0 10px 0; }
        /* line 94, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .search-facets ul li {
          list-style-type: none;
          margin: 1px 0;
          padding: 0 10px; }
          /* line 99, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
          .search-container section.results .search-facets ul li input {
            margin-right: 6px; }
          /* line 103, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
          .search-container section.results .search-facets ul li:hover, .search-container section.results .search-facets ul li:focus, .search-container section.results .search-facets ul li.refined {
            background: #2897C5;
            border-radius: 4px;
            color: white; }
            /* line 110, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
            .search-container section.results .search-facets ul li:hover a, .search-container section.results .search-facets ul li:hover span, .search-container section.results .search-facets ul li:focus a, .search-container section.results .search-facets ul li:focus span, .search-container section.results .search-facets ul li.refined a, .search-container section.results .search-facets ul li.refined span {
              color: white; }
          /* line 115, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
          .search-container section.results .search-facets ul li.refined {
            background: #1C688E; }
      /* line 121, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .search-facets .facet-name {
        font-weight: normal;
        margin-bottom: 10px; }
      /* line 126, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .search-facets .star-rating {
        margin-left: 10px; }
        /* line 129, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .search-facets .star-rating li {
          margin: 5px 0; }
          /* line 132, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
          .search-container section.results .search-facets .star-rating li:hover, .search-container section.results .search-facets .star-rating li:focus, .search-container section.results .search-facets .star-rating li.refined {
            background-image: url("../../assets/graphics/stars-icons.png");
            background-position: 100% 0%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 15px;
            width: 80px; }
    /* line 142, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
    .search-container section.results .search-results {
      border-left: 1px solid #dedede;
      min-height: 520px;
      padding: 30px 20px 20px 40px; }
      /* line 148, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .search-results em {
        background-color: #c6e6f3;
        font-style: normal; }
      /* line 153, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .search-results .processing-info {
        background-color: #fff;
        float: left;
        padding-right: 20px; }
      /* line 159, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .search-results .divider {
        border-bottom: 1px solid #dedede;
        height: 18px;
        margin-bottom: 30px;
        width: 100%; }
      /* line 166, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .search-results .result-item {
        color: #9A9A9A;
        margin-bottom: 24px; }
        /* line 170, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .search-results .result-item .result-image {
          border: 1px solid #dedede;
          border-radius: 4px;
          float: left;
          height: 80px;
          overflow: hidden;
          position: relative;
          width: 80px; }
          /* line 179, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
          .search-container section.results .search-results .result-item .result-image img {
            width: 100%; }
        /* line 184, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .search-results .result-item .result-data {
          display: inline-block;
          margin: 0;
          max-width: 80%;
          padding-left: 20px; }
          /* line 190, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
          .search-container section.results .search-results .result-item .result-data li {
            line-height: 1.8em; }
          /* line 194, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
          .search-container section.results .search-results .result-item .result-data .item-name {
            color: #000;
            font-size: 16px; }
          /* line 199, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
          .search-container section.results .search-results .result-item .result-data .score {
            color: #FFAB66; }
          /* line 203, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
          .search-container section.results .search-results .result-item .result-data .stars {
            display: inline-block;
            margin: -2px 6px; }
          @media (max-width: 767px) and (orientation: portrait) {
            /* line 184, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
            .search-container section.results .search-results .result-item .result-data {
              float: left;
              margin-bottom: 20px;
              padding-left: 0;
              width: 100%; } }
          @media (max-width: 767px) and (orientation: landscape) {
            /* line 184, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
            .search-container section.results .search-results .result-item .result-data {
              float: left;
              margin-bottom: 20px;
              padding-left: 20px;
              width: 100%; } }
      /* line 224, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .search-results .btn-default {
        color: #9A9A9A;
        display: table;
        margin: 20px auto;
        min-width: 184px;
        padding: 8px 12px; }
    /* line 233, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
    .search-container section.results .stars {
      position: relative;
      background-image: url("../../assets/graphics/stars-icons.png");
      background-position: 100% 0%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 15px;
      width: 80px; }
      /* line 237, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
      .search-container section.results .stars span {
        left: 0;
        top: 0;
        position: absolute;
        background-image: url("../../assets/graphics/stars-icons.png");
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15px;
        width: 80px; }
        /* line 244, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span[class^="star-1"] {
          background-position: -50px 100%; }
        /* line 245, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span[class^="star-2"] {
          background-position: -33px 100%; }
        /* line 246, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span[class^="star-3"] {
          background-position: -17px 100%; }
        /* line 247, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span[class^="star-4"] {
          background-position: 100% 100%; }
        /* line 250, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span.star-10 {
          background-position: -66px 100%; }
        /* line 251, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span.star-20 {
          background-position: -50px 100%; }
        /* line 252, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span.star-30 {
          background-position: -33px 100%; }
        /* line 253, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span.star-40 {
          background-position: -17px 100%; }
        /* line 254, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span.star-50 {
          background-position: 100% 100%; }
        /* line 257, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span.star-11, .search-container section.results .stars span.star-12, .search-container section.results .stars span.star-13, .search-container section.results .stars span.star-21, .search-container section.results .stars span.star-22, .search-container section.results .stars span.star-23, .search-container section.results .stars span.star-31, .search-container section.results .stars span.star-32, .search-container section.results .stars span.star-33, .search-container section.results .stars span.star-41, .search-container section.results .stars span.star-42, .search-container section.results .stars span.star-43, .search-container section.results .stars span.star-51, .search-container section.results .stars span.star-52, .search-container section.results .stars span.star-53 {
          background-image: url("../../assets/graphics/stars-icons-partial-25.png"); }
        /* line 265, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span.star-14, .search-container section.results .stars span.star-15, .search-container section.results .stars span.star-16, .search-container section.results .stars span.star-24, .search-container section.results .stars span.star-25, .search-container section.results .stars span.star-26, .search-container section.results .stars span.star-34, .search-container section.results .stars span.star-35, .search-container section.results .stars span.star-36, .search-container section.results .stars span.star-44, .search-container section.results .stars span.star-45, .search-container section.results .stars span.star-46, .search-container section.results .stars span.star-54, .search-container section.results .stars span.star-55, .search-container section.results .stars span.star-56 {
          background-image: url("../../assets/graphics/stars-icons-partial-50.png"); }
        /* line 273, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
        .search-container section.results .stars span.star-17, .search-container section.results .stars span.star-18, .search-container section.results .stars span.star-19, .search-container section.results .stars span.star-27, .search-container section.results .stars span.star-28, .search-container section.results .stars span.star-29, .search-container section.results .stars span.star-37, .search-container section.results .stars span.star-38, .search-container section.results .stars span.star-39, .search-container section.results .stars span.star-47, .search-container section.results .stars span.star-48, .search-container section.results .stars span.star-49, .search-container section.results .stars span.star-57, .search-container section.results .stars span.star-58, .search-container section.results .stars span.star-59 {
          background-image: url("../../assets/graphics/stars-icons-partial-75.png"); }

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  /* line 294, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  .search-container .search-bar {
    padding: 22px 30px; }
  /* line 300, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  .search-container section.results .search-facets {
    padding: 10px 30px; }
  /* line 304, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  .search-container section.results .search-results {
    padding: 30px; }
    /* line 309, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
    .search-container section.results .search-results .result-item .result-data {
      margin-top: 5px;
      max-width: 100%; }
    /* line 315, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
    .search-container section.results .search-results .btn-default {
      width: 100%; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 325, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  .search-container {
    margin: 50px auto; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* 2X assets for retina displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 342, /Users/Natacha/Development/Challenges/Algolia/algolia-restaurant-locator/assets/scss/main.scss */
  body {
    background: #fff url("../../assets/graphics/background_@2X.png") repeat right top; } }

/*# sourceMappingURL=../../scss */